<header class="navbar navbar-expand-xl navbar-light bg-white mt-xl-10 mb-xl-4 py-0">
  <div class="container p-3 px-10 py-4 position-relative">
    <div class="d-flex align-items-center">
      <a class="navbar-brand" href="index.html">
        <img src="/assets/images/logo.png" alt="brand logo" class="brand-logo">
      </a>
      <!-- desktop -->
      <section class="dropdown d-none d-xl-block position-static">
        <button class="discovery-dropdown-toggle dropdown-toggle btn border-0" type="button" id="discoveryMenu"
          data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">探索</button>
        <div class="discovery-dropdown-menu-desktop dropdown-menu py-0" aria-labelledby="discoveryMenu">
          <div class="d-flex h-100">
            <ul
              class="discovery-dropdown-menu-first-layer list-unstyled bg-neutral-100 overflow-auto p-3 rounded-start">
              <li>
                <h6 class="dropdown-header fs-7 px-6 py-3">探索全部</h6>
              </li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">音樂</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">攝影</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2 active" href="#">程式</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">藝術</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">人文</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">行銷</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">投資理財</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">心靈成長</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">職場技能</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">生活品味</a></li>
            </ul>
            <ul class="discovery-dropdown-menu-second-layer list-unstyled overflow-auto p-3">
              <li>
                <h6 class="dropdown-header fs-7 px-6 py-3">所有程式</h6>
              </li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">程式入門</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2 active" href="#">網頁前端</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">網頁後端</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">網頁架設</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">資訊安全</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">程式語言</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">遊戲開發</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">資料科學</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">人工智慧</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">量化分析</a></li>
            </ul>
            <ul class="discovery-dropdown-menu-third-layer list-unstyled overflow-auto p-3">
              <li>
                <h6 class="dropdown-header fs-7 px-0 py-3 border-bottom border-neutral-200 mb-4">
                  <img src="/assets/images/icons/ic_fire.png" alt="icon fire" width="24" height="24" class="me-2">
                  熱門網頁前端課程
                </h6>
              </li>
              <li class="d-flex border-bottom border-neutral-200 pb-6 mb-4">
                <div class="course-photo-wrapper flex-shrink-0 me-2 position-relative">
                  <img src="/assets/images/course-5.png" alt="course photo" class="course-photo rounded-2" />
                  <small
                    class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-danger-100 text-danger rounded-pill text-nowrap">
                    8 折
                  </small>
                </div>
                <div>
                  <h3 class="fs-7 fw-bold mb-4">小白也會！從零開始學習 Python 程式設計</h3>
                  <div class="d-flex justify-content-between border-bottom border-neutral-200 pb-2">
                    <div class="d-flex align-items-center">
                      <img src="/assets/images/avatar-2.png" alt="avatar" width="32" class="me-2" />
                      <h4 class="fs-7 fw-normal text-neutral-400">Kelly Hsu</h4>
                    </div>
                    <div>
                      <p class="text-primary fw-bold">NT$ 2,480</p>
                      <small class="text-neutral-300 text-decoration-line-through text-end">NT$ 3,200</small>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between py-2">
                    <small>已有 420 位同學加入</small>
                    <p class="fw-medium d-flex align-items-center text-neutral-300">
                      <i class="bi bi-star-fill text-warning me-1"></i>
                      <span class="text-black me-1">4.0</span>(333)
                    </p>
                  </div>
                </div>
              </li>
              <li class="d-flex border-bottom border-neutral-200 pb-6 mb-4">
                <div class="course-photo-wrapper flex-shrink-0 me-2 position-relative">
                  <img src="/assets/images/course-5.png" alt="course photo" class="course-photo rounded-2" />
                  <small
                    class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-danger-100 text-danger rounded-pill text-nowrap">
                    8 折
                  </small>
                </div>
                <div>
                  <h3 class="fs-7 fw-bold mb-4">小白也會！從零開始學習 Python 程式設計</h3>
                  <div class="d-flex justify-content-between border-bottom border-neutral-200 pb-2">
                    <div class="d-flex align-items-center">
                      <img src="/assets/images/avatar-2.png" alt="avatar" width="32" class="me-2" />
                      <h4 class="fs-7 fw-normal text-neutral-400">Kelly Hsu</h4>
                    </div>
                    <div>
                      <p class="text-primary fw-bold">NT$ 2,480</p>
                      <small class="text-neutral-300 text-decoration-line-through text-end">NT$ 3,200</small>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between py-2">
                    <small>已有 420 位同學加入</small>
                    <p class="fw-medium d-flex align-items-center text-neutral-300">
                      <i class="bi bi-star-fill text-warning me-1"></i>
                      <span class="text-black me-1">4.0</span>(333)
                    </p>
                  </div>
                </div>
              </li>
              <li class="d-flex border-bottom border-neutral-200 pb-6">
                <div class="course-photo-wrapper flex-shrink-0 me-2 position-relative">
                  <img src="/assets/images/course-5.png" alt="course photo" class="course-photo rounded-2" />
                  <small
                    class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-danger-100 text-danger rounded-pill text-nowrap">
                    8 折
                  </small>
                </div>
                <div>
                  <h3 class="fs-7 fw-bold mb-4">小白也會！從零開始學習 Python 程式設計</h3>
                  <div class="d-flex justify-content-between border-bottom border-neutral-200 pb-2">
                    <div class="d-flex align-items-center">
                      <img src="/assets/images/avatar-2.png" alt="avatar" width="32" class="me-2" />
                      <h4 class="fs-7 fw-normal text-neutral-400">Kelly Hsu</h4>
                    </div>
                    <div>
                      <p class="text-primary fw-bold">NT$ 2,480</p>
                      <small class="text-neutral-300 text-decoration-line-through text-end">NT$ 3,200</small>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between py-2">
                    <small>已有 420 位同學加入</small>
                    <p class="fw-medium d-flex align-items-center text-neutral-300">
                      <i class="bi bi-star-fill text-warning me-1"></i>
                      <span class="text-black me-1">4.0</span>(333)
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <form class="search-field position-relative d-none d-lg-block">
        <button class="btn border-0 p-0 position-absolute start-0 top-50 translate-middle-y ms-2" type="button">
          <i class="bi bi-search fs-5 text-accent-200"></i>
        </button>
        <input class="form-control px-10 py-5" type="search" placeholder="搜尋各種音樂、數學、程式及設計課程" aria-label="Search">
        <button class="btn btn-primary position-absolute end-0 top-50 translate-middle-y me-2" type="button">
          搜尋
        </button>
      </form>
    </div>
    <div class="d-flex align-items-center gap-xl-4">
      <div class="dropdown position-static">
        <button class="btn border-0" type="button" id="noticeDropdownMenu" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="bi bi-bell position-relative fs-5">
            <span class="position-absolute top-0 start-100 translate-middle p-1 bg-primary rounded-circle">
            </span>
          </i>
        </button>
        <ul class="notice-dropdown-menu dropdown-menu overflow-auto" aria-labelledby="noticeDropdownMenu">
          <li class="px-4 py-3 border-bottom border-neutral-200">
            <p class="text-primary text-end">
              <i class="bi bi-check-circle-fill"></i>
              全部標記為已讀
            </p>
          </li>
          <li class="px-4 py-3 border-bottom border-neutral-200">
            <a href="#" class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <i class="bi bi-megaphone text-primary bg-info-100 px-2 py-1 rounded-circle"></i>
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="text-neutral-400 mb-2">系統通知：6 月 30 日 02:00 網站系統排程更新</p>
                <small class="text-neutral-300">4 天前</small>
              </div>
            </a>
          </li>
          <li class="px-4 py-3 border-bottom border-neutral-200">
            <a href="#" class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <i class="bi bi-bell text-danger bg-danger-100 px-2 py-1 rounded-circle"></i>
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="text-neutral-400 mb-2">募資開課：您購買的募資課程已成功開課！將於 3 天後公布課綱！</p>
                <small class="text-neutral-300">7 天前</small>
              </div>
            </a>
          </li>
          <li class="px-4 py-3 border-bottom border-neutral-200">
            <a href="#" class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <i class="bi bi-bell text-danger bg-danger-100 px-2 py-1 rounded-circle"></i>
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="text-neutral-400 mb-2">募資開課：您購買的募資課程已成功開課！將於 3 天後公布課綱！</p>
                <small class="text-neutral-300">7 天前</small>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <a href="#" class="btn border-0 position-relative">
        <i class="bi bi-cart3 fs-5">
          <span class="cart-notice position-absolute translate-middle rounded-circle bg-primary">2</span>
        </i>
      </a>
      <div class="dropdown position-static">
        <button class="btn border-0 d-none d-xl-flex" type="button" id="profileDropdownMenu" data-bs-toggle="dropdown"
          aria-expanded="false">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img src="/assets/images/avatar-1.png" alt="user avatar" width="44" height="44">
            </div>
            <div class="fw-bold ms-2">Jessica</div>
          </div>
        </button>
        <div class="profile-dropdown-menu dropdown-menu overflow-auto p-0" aria-labelledby="profileDropdownMenu">
          <div class="px-3 py-6">
            <div class="d-flex align-items-center pb-4 border-bottom border-neutral-200 mb-4">
              <div class="flex-shrink-0">
                <img src="/assets/images/avatar-1.png" alt="user avatar" width="44" height="44">
              </div>
              <div class="ms-2">
                <p class="fw-bold">Jessica</p>
                <small class="text-neutral-300">學習初心者</small>
              </div>
            </div>
            <div class="pb-4 border-bottom border-neutral-200 mb-4">
              <a class="dropdown-item d-flex align-items-center px-6 py-3 rounded-2" href="#">
                <i class="bi bi-person-circle me-2"></i>
                <p>個人檔案</p>
              </a>
              <a class="dropdown-item d-flex align-items-center px-6 py-3 rounded-2" href="#">
                <i class="bi bi-bookmark-fill me-2"></i>
                <p>我的收藏</p>
              </a>
              <a class="dropdown-item d-flex align-items-center px-6 py-3 rounded-2" href="#">
                <i class="bi bi-gear me-2"></i>
                <p>帳號設定</p>
              </a>
            </div>
            <div class="pb-4 border-bottom border-neutral-200 mb-4">
              <a class="dropdown-item d-flex align-items-center px-6 py-3 rounded-2" href="#">
                <i class="bi bi-journal me-2"></i>
                <p>訂單紀錄</p>
              </a>
              <a class="dropdown-item d-flex align-items-center px-6 py-3 rounded-2" href="#">
                <i class="bi bi-pencil-fill me-2"></i>
                <p>作業成果</p>
              </a>
            </div>
            <button type="button" class="btn border-0 d-block w-100 text-start px-6 py-3">
              <i class="bi bi-box-arrow-right me-2"></i>
              登出
            </button>
          </div>
        </div>
      </div>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <!-- mobile -->
    <section class="offcanvas offcanvas-end d-xl-none" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <div class="list-group list-group-horizontal text-center" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active rounded-0" id="list-discovery-list"
          data-bs-toggle="list" href="#list-discovery" role="tab" aria-controls="list-discovery">探索</a>
        <a class="list-group-item list-group-item-action rounded-0" id="list-profile-list" data-bs-toggle="list"
          href="#list-profile" role="tab" aria-controls="list-profile">我的會員</a>
      </div>
      <div class="offcanvas-body px-0 position-relative overflow-auto">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-discovery" role="tabpanel"
            aria-labelledby="list-discovery-list">
            <ul class="discovery-dropdown-menu-first-layer list-unstyled overflow-auto px-6">
              <li>
                <h6 class="dropdown-header fs-7 px-6 py-3">探索全部</h6>
              </li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">音樂</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">攝影</a></li>
              <li class="dropdown position-static">
                <a class="dropdown-item px-6 py-3 rounded-2 active" href="#" role="button" id="discoveryMenu"
                  data-bs-toggle="dropdown" aria-expanded="false">程式</a>
                <div class="discovery-dropdown-menu-mobile dropdown-menu py-0" aria-labelledby="discoveryMenu">
                  <ul class="discovery-dropdown-menu-second-layer list-unstyled overflow-auto px-6 py-4">
                    <li>
                      <h6 class="dropdown-header text-black fs-7 px-6 py-3">所有程式</h6>
                    </li>
                    <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">程式入門</a></li>
                    <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">網頁前端</a></li>
                    <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">網頁後端</a></li>
                    <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">網頁架設</a></li>
                    <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">資訊安全</a></li>
                    <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">程式語言</a></li>
                    <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">遊戲開發</a></li>
                    <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">資料科學</a></li>
                    <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">人工智慧</a></li>
                    <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">量化分析</a></li>
                  </ul>
                </div>
              </li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">藝術</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">人文</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">行銷</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">投資理財</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">心靈成長</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">職場技能</a></li>
              <li><a class="dropdown-item px-6 py-3 rounded-2" href="#">生活品味</a></li>
            </ul>
          </div>
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
            <div class="px-6 py-4">
              <div class="d-flex align-items-center pb-4 border-bottom border-neutral-200 mb-4">
                <div class="flex-shrink-0">
                  <img src="/assets/images/avatar-1.png" alt="user avatar" width="44" height="44">
                </div>
                <div class="ms-2">
                  <p class="fw-bold">Jessica</p>
                  <small class="text-neutral-300">學習初心者</small>
                </div>
              </div>
              <div class="pb-4 border-bottom border-neutral-200 mb-4">
                <a class="dropdown-item d-flex align-items-center px-6 py-3 rounded-2" href="#">
                  <i class="bi bi-person-circle me-2"></i>
                  <p>個人檔案</p>
                </a>
                <a class="dropdown-item d-flex align-items-center px-6 py-3 rounded-2" href="#">
                  <i class="bi bi-bookmark-fill me-2"></i>
                  <p>我的收藏</p>
                </a>
                <a class="dropdown-item d-flex align-items-center px-6 py-3 rounded-2" href="#">
                  <i class="bi bi-gear me-2"></i>
                  <p>帳號設定</p>
                </a>
              </div>
              <div>
                <a class="dropdown-item d-flex align-items-center px-6 py-3 rounded-2" href="#">
                  <i class="bi bi-journal me-2"></i>
                  <p>訂單紀錄</p>
                </a>
                <a class="dropdown-item d-flex align-items-center px-6 py-3 rounded-2" href="#">
                  <i class="bi bi-pencil-fill me-2"></i>
                  <p>作業成果</p>
                </a>
              </div>
            </div>
          </div>
          <div class="px-6 py-3 border-top border-neutral-200 position-absolute w-100 start-0 bottom-0">
            <button type="button" class="btn border-0 d-block w-100 text-start px-6 py-3">
              <i class="bi bi-box-arrow-right me-2"></i>
              登出
            </button>
          </div>
        </div>
      </div>
    </section>
</header>