.banner-photo {
  width: 100%;
  height: 350px;
  object-fit: cover;

  @media (min-width: 768px) {
    height: auto;
    border-radius: 50px;
  }

  @media (min-width: 1200px) {
    border-radius: 100px;
  }
}

.banner-course {
  left: 50%;
  transform: translateX(-50%);
  bottom: 6rem;
  width: 350px;
  padding: 0.5rem;
  border-radius: 100px;

  @media (min-width: 768px) {
    left: 10px;
    transform: none;
  }

  @media (min-width: 1200px) {
    left: 2.5rem;
    bottom: 7rem;
  }
}

.banner-slogan {
  @media (min-width: 768px) {
    position: absolute;
    bottom: 0;
    border-radius: 0 50px 0 50px;
  }

  @media (min-width: 1200px) {
    border-radius: 0 100px 0 100px;
  }
}

.banner-swiper {
  .swiper-pagination {
    bottom: 4rem;
  }
}

.fundraising-title {
  &::after {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    background: url('/assets/images/deco/flower-2.png') no-repeat center;
    background-size: cover;
    position: absolute;
    top: -100px;
    left: -100px;
    z-index: -1;

    @media (min-width: 1200px) {
      width: 560px;
      height: 560px;
      top: -280px;
      left: -280px;
    }
  }
}

.course-lecturer {
  width: 44px;
  height: 44px;
  object-fit: cover;
  border-radius: 50%;
}

.trend-title {
  &::after {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background: url('/assets/images/deco/flower-4.png') no-repeat center;
    background-size: cover;
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: -1;
  }
}

.category-bg {
  border-radius: 40px;

  @media (min-width: 1200px) {
    border-radius: 80px;
  }
}

.lecturer {
  .card {
    max-width: 416px;
    margin: 0 auto;
  }

  .lecturer-photo {
    margin-left: 60px;
    width: auto;
    border-radius: 20px;

    @media (min-width: 1200px) {
      margin-left: 80px;
    }
  }

  .card-body {
    background: white;
    box-shadow: 0px 25px 50px -12px #0000001f;
    margin-right: 24px;
    margin-top: -40px;
    border-radius: 20px;

    @media (min-width: 1200px) {
      margin-left: 32px;
    }
  }
}
