<!DOCTYPE html>
<html lang="zh-Hant">

<%- include('./layout/head'); -%>

  <body>
    <%- include('./layout/header'); -%>

      <main>
        <section class="banner-swiper swiper">
          <ul class="swiper-wrapper position-relative p-0">
            <li class="swiper-slide">
              <img src="/assets/images/hero-1.png" alt="banner photo" class="banner-photo">
              <div class="banner-course d-flex align-items-center bg-white position-absolute">
                <span class="badge rounded-pill text-primary bg-primary-100 me-2">熱銷課程 🔥</span>
                <p class="fw-bold">掌握商業攝影：打造你的專業攝影事業</p>
              </div>
              <p class="banner-slogan text-white bg-primary text-center fw-bold py-4 py-md-8 px-md-20">
                探索感興趣的課程，今天立即上課
                <i class="bi bi-arrow-right"></i>
              </p>
            </li>
            <li class="swiper-slide">
              <img src="/assets/images/hero-2.png" alt="banner photo" class="banner-photo">
              <div class="banner-course d-flex align-items-center bg-white position-absolute">
                <span class="badge rounded-pill text-primary bg-primary-100 me-2">熱銷課程 🔥</span>
                <p class="fw-bold">給成人的鋼琴入門課，一小時教你彈奏上手！</p>
              </div>
              <p class="banner-slogan text-white bg-primary text-center fw-bold py-4 py-md-8 px-md-20">
                探索感興趣的課程，今天立即上課
                <i class="bi bi-arrow-right"></i>
              </p>
            </li>
            <li class="swiper-slide">
              <img src="/assets/images/hero-3.png" alt="banner photo" class="banner-photo">
              <div class="banner-course d-flex align-items-center bg-white position-absolute">
                <span class="badge rounded-pill text-primary bg-primary-100 me-2">熱銷課程 🔥</span>
                <p class="fw-bold">健康廚房：營養均衡的素食料理指南</p>
              </div>
              <p class="banner-slogan text-white bg-primary text-center fw-bold py-4 py-md-8 px-md-20">
                探索感興趣的課程，今天立即上課
                <i class="bi bi-arrow-right"></i>
              </p>
            </li>
          </ul>
          <div class="banner-swiper-pagination swiper-pagination position-absolute d-md-none"></div>
          <div class="banner-swiper-button-prev swiper-button-prev d-none d-md-flex"></div>
          <div class="banner-swiper-button-next swiper-button-next d-none d-md-flex"></div>
        </section>

        <section class="fundraising">
          <div class="container py-20 py-xl-30">
            <div class="row align-items-xl-center">
              <div class="col-12 col-xl-4">
                <div class="mb-6 mb-xl-10">
                  <h2 class="fundraising-title h1 position-relative">火熱募資課程</h2>
                  <p class="fs-6 text-neutral-400">現在購買最優惠✨</p>
                </div>
                <ul class="list-unstyled d-flex flex-nowrap flex-xl-wrap gap-2 text-nowrap overflow-auto mb-6 mb-10">
                  <li>
                    <a href="#" class="btn btn-outline-primary">全部</a>
                  </li>
                  <li>
                    <a href="#" class="btn btn-outline-primary">🍽️ 烹飪料理</a>
                  </li>
                  <li>
                    <a href="#" class="btn btn-outline-primary">📊 數據分析</a>
                  </li>
                  <li>
                    <a href="#" class="btn btn-outline-primary">🎼 音樂製作</a>
                  </li>
                  <li>
                    <a href="#" class="btn btn-outline-primary">📝 創意寫作</a>
                  </li>
                  <li>
                    <a href="#" class="btn btn-outline-primary">💬 語言學習</a>
                  </li>
                  <li>
                    <a href="#" class="btn btn-outline-primary">🖌️ 藝術創作</a>
                  </li>
                </ul>
                <button type="button" class="btn btn-primary btn-lg d-none d-xl-inline">更多募資課程</button>
              </div>
              <div class="col-12 col-xl-8">
                <div class="fundraising-swiper swiper">
                  <ul class="swiper-wrapper p-0 mb-4">
                    <li class="swiper-slide">
                      <a class="card shadow" href="#">
                        <img src="/assets/images/course-1.png" class="card-img-top" alt="course image">
                        <div class="card-body">
                          <h3 class="h6 mb-2">健康廚房：營養均衡的素食料理指南</h3>
                          <div class="d-flex align-items-center mb-6">
                            <div class="flex-shrink-0">
                              <img src="/assets/images/teacher-7.png" alt="course lecturer" class="course-lecturer">
                            </div>
                            <div class="flex-grow-1 ms-2">
                              希姐帶你吃
                            </div>
                          </div>
                          <div class="course-progress">
                            <div class="d-flex justify-content-between mb-2">
                              <p class="fw-bold">募資進度 81 %</p>
                              <small class="text-neutral-400">已有 521 位同學加入</small>
                            </div>
                            <div class="progress mb-2" role="progressbar" aria-label="course fundraising progress"
                              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                              <div class=" progress-bar" style="width: 100%;"></div>
                            </div>
                            <div class="d-flex align-items-center">
                              <p class="fw-bold me-2">NT$ 2,480</p>
                              <small class="text-neutral-300 text-decoration-line-through text-end">NT$ 3,200</small>
                            </div>
                          </div>
                        </div>
                        <small
                          class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-primary-100 text-primary fw-bold rounded-pill text-nowrap">
                          優惠倒數 10 天
                        </small>
                      </a>
                    </li>
                    <li class="swiper-slide">
                      <a class="card shadow" href="#">
                        <img src="/assets/images/course-2.png" class="card-img-top" alt="course image">
                        <div class="card-body">
                          <h3 class="h6 mb-2">音樂製作入門：從零開始創作你的音樂</h3>
                          <div class="d-flex align-items-center mb-6">
                            <div class="flex-shrink-0">
                              <img src="/assets/images/teacher-5.png" alt="course lecturer" class="course-lecturer">
                            </div>
                            <div class="flex-grow-1 ms-2">
                              K.Dee
                            </div>
                          </div>
                          <div class="course-progress">
                            <div class="d-flex justify-content-between mb-2">
                              <p class="fw-bold">募資進度 81 %</p>
                              <small class="text-neutral-400">已有 521 位同學加入</small>
                            </div>
                            <div class="progress mb-2" role="progressbar" aria-label="course fundraising progress"
                              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                              <div class=" progress-bar" style="width: 100%;"></div>
                            </div>
                            <div class="d-flex align-items-center">
                              <p class="fw-bold me-2">NT$ 2,480</p>
                              <small class="text-neutral-300 text-decoration-line-through text-end">NT$ 3,200</small>
                            </div>
                          </div>
                        </div>
                        <small
                          class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-primary-100 text-primary fw-bold rounded-pill text-nowrap">
                          優惠倒數 10 天
                        </small>
                      </a>
                    </li>
                    <li class="swiper-slide">
                      <a class="card shadow" href="#">
                        <img src="/assets/images/course-3.png" class="card-img-top" alt="course image">
                        <div class="card-body">
                          <h3 class="h6 mb-2">掌握商業攝影：打造你的專業攝影事業</h3>
                          <div class="d-flex align-items-center mb-6">
                            <div class="flex-shrink-0">
                              <img src="/assets/images/teacher-6.png" alt="course lecturer" class="course-lecturer">
                            </div>
                            <div class="flex-grow-1 ms-2">
                              Mikeeee
                            </div>
                          </div>
                          <div class="course-progress">
                            <div class="d-flex justify-content-between mb-2">
                              <p class="fw-bold">募資進度 81 %</p>
                              <small class="text-neutral-400">已有 521 位同學加入</small>
                            </div>
                            <div class="progress mb-2" role="progressbar" aria-label="course fundraising progress"
                              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                              <div class=" progress-bar" style="width: 100%;"></div>
                            </div>
                            <div class="d-flex align-items-center">
                              <p class="fw-bold me-2">NT$ 2,480</p>
                              <small class="text-neutral-300 text-decoration-line-through text-end">NT$ 3,200</small>
                            </div>
                          </div>
                        </div>
                        <small
                          class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-primary-100 text-primary fw-bold rounded-pill text-nowrap">
                          優惠倒數 10 天
                        </small>
                      </a>
                    </li>
                    <li class="swiper-slide">
                      <a class="card shadow" href="#">
                        <img src="/assets/images/course-4.png" class="card-img-top" alt="course image">
                        <div class="card-body">
                          <h3 class="h6 mb-2">創意寫作工坊：從靈感到出版的全過程</h3>
                          <div class="d-flex align-items-center mb-6">
                            <div class="flex-shrink-0">
                              <img src="/assets/images/teacher-4.png" alt="course lecturer" class="course-lecturer">
                            </div>
                            <div class="flex-grow-1 ms-2">
                              Kelly Hsu
                            </div>
                          </div>
                          <div class="course-progress">
                            <div class="d-flex justify-content-between mb-2">
                              <p class="fw-bold">募資進度 81 %</p>
                              <small class="text-neutral-400">已有 521 位同學加入</small>
                            </div>
                            <div class="progress mb-2" role="progressbar" aria-label="course fundraising progress"
                              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                              <div class=" progress-bar" style="width: 100%;"></div>
                            </div>
                            <div class="d-flex align-items-center">
                              <p class="fw-bold me-2">NT$ 2,480</p>
                              <small class="text-neutral-300 text-decoration-line-through text-end">NT$ 3,200</small>
                            </div>
                          </div>
                        </div>
                        <small
                          class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-primary-100 text-primary fw-bold rounded-pill text-nowrap">
                          優惠倒數 10 天
                        </small>
                      </a>
                    </li>
                  </ul>
                  <div class="fundraising-swiper-pagination swiper-pagination position-static mt-4"></div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="trend">
          <div class="container py-20 py-xl-30">
            <div class="text-md-center mb-6 mb-xl-10">
              <h2 class="trend-title h1 position-relative d-inline">看看大家都買了什麼</h2>
              <p class="fs-6 text-neutral-400">熱銷課程一次看！✨</p>
            </div>
            <div class="trend-swiper swiper mx-md-n5 px-md-5">
              <ul class="swiper-wrapper p-0 mb-4">
                <li class="swiper-slide">
                  <a class="card shadow" href="#">
                    <img src="/assets/images/course-4.png" class="card-img-top" alt="course image">
                    <div class="card-body">
                      <h3 class="course-title h6 mb-2">創意寫作工坊：從靈感到出版的全過程</h3>
                      <div class="d-flex justify-content-between border-bottom border-neutral-200 pb-2">
                        <div class="d-flex align-items-center">
                          <img src="/assets/images/avatar-2.png" alt="avatar" class="me-2">
                          <h4 class="fs-7 fw-normal text-neutral-400">Kelly Hsu</h4>
                        </div>
                        <div>
                          <p class="text-primary fw-bold">NT$ 2,480</p>
                          <small class="text-neutral-300 text-decoration-line-through text-end">NT$ 3,200</small>
                        </div>
                      </div>
                      <div class="pt-4">
                        <span class="badge rounded-pill text-bg-neutral-200 mb-3">中文創作</span>
                        <div class="d-flex justify-content-between">
                          <small>已有 420 位同學加入</small>
                          <p class="fw-medium d-flex align-items-center text-neutral-300">
                            <i class="bi bi-star-fill text-warning me-1"></i>
                            <span class="text-black me-1">4.0</span>(333)
                          </p>
                        </div>
                      </div>
                    </div>
                    <small
                      class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-danger-100 text-danger fw-bold rounded-pill text-nowrap">
                      限時 8 折 🔥
                    </small>
                  </a>
                </li>
                <li class="swiper-slide">
                  <a class="card shadow" href="#">
                    <img src="/assets/images/course-5.png" class="card-img-top" alt="course image">
                    <div class="card-body">
                      <h3 class="course-title h6 mb-2">小白也會！從零開始學習 Python 程式設計</h3>
                      <div class="d-flex justify-content-between border-bottom border-neutral-200 pb-2">
                        <div class="d-flex align-items-center">
                          <img src="/assets/images/avatar-2.png" alt="avatar" class="me-2">
                          <h4 class="fs-7 fw-normal text-neutral-400">Kelly Hsu</h4>
                        </div>
                        <div>
                          <p class="text-primary fw-bold">NT$ 2,480</p>
                          <small class="text-neutral-300 text-decoration-line-through text-end">NT$ 3,200</small>
                        </div>
                      </div>
                      <div class="pt-4">
                        <span class="badge rounded-pill text-bg-neutral-200 mb-3">程式開發</span>
                        <div class="d-flex justify-content-between">
                          <small>已有 420 位同學加入</small>
                          <p class="fw-medium d-flex align-items-center text-neutral-300">
                            <i class="bi bi-star-fill text-warning me-1"></i>
                            <span class="text-black me-1">4.0</span>(333)
                          </p>
                        </div>
                      </div>
                    </div>
                    <small
                      class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-danger-100 text-danger fw-bold rounded-pill text-nowrap">
                      限時 8 折 🔥
                    </small>
                  </a>
                </li>
                <li class="swiper-slide">
                  <a class="card shadow" href="#">
                    <img src="/assets/images/course-6.png" class="card-img-top" alt="course image">
                    <div class="card-body">
                      <h3 class="course-title h6 mb-2">全面掌握 JavaScript 開發技術</h3>
                      <div class="d-flex justify-content-between border-bottom border-neutral-200 pb-2">
                        <div class="d-flex align-items-center">
                          <img src="/assets/images/avatar-2.png" alt="avatar" class="me-2">
                          <h4 class="fs-7 fw-normal text-neutral-400">Kelly Hsu</h4>
                        </div>
                        <div>
                          <p class="text-primary fw-bold">NT$ 2,480</p>
                          <small class="text-neutral-300 text-decoration-line-through text-end">NT$ 3,200</small>
                        </div>
                      </div>
                      <div class="pt-4">
                        <span class="badge rounded-pill text-bg-neutral-200 mb-3">程式開發</span>
                        <div class="d-flex justify-content-between">
                          <small>已有 420 位同學加入</small>
                          <p class="fw-medium d-flex align-items-center text-neutral-300">
                            <i class="bi bi-star-fill text-warning me-1"></i>
                            <span class="text-black me-1">4.0</span>(333)
                          </p>
                        </div>
                      </div>
                    </div>
                    <small
                      class="position-absolute top-0 start-0 px-2 py-1 m-1 bg-danger-100 text-danger fw-bold rounded-pill text-nowrap">
                      限時 8 折 🔥
                    </small>
                  </a>
                </li>
                <li class="swiper-slide">
                  <a class="card shadow" href="#">
                    <img src="/assets/images/course-8.png" class="card-img-top" alt="course image">
                    <div class="card-body">
                      <h3 class="course-title h6 mb-2">HTML & CSS 網頁設計基礎教程</h3>
                      <div class="d-flex justify-content-between border-bottom border-neutral-200 pb-2">
                        <div class="d-flex align-items-center">
                          <img src="/assets/images/avatar-2.png" alt="avatar" class="me-2">
                          <h4 class="fs-7 fw-normal text-neutral-400">Kelly Hsu</h4>
                        </div>
                        <div>
                          <p class="text-primary fw-bold">NT$ 2,480</p>
                          <small class="text-neutral-300 text-decoration-line-through text-end">NT$ 3,200</small>
                        </div>
                      </div>
                      <div class="pt-4">
                        <span class="badge rounded-pill text-bg-neutral-200 mb-3">程式開發</span>
                        <div class="d-flex justify-content-between">
                          <small>已有 420 位同學加入</small>
                          <p class="fw-medium d-flex align-items-center text-neutral-300">
                            <i class="bi bi-star-fill text-warning me-1"></i>
                            <span class="text-black me-1">4.0</span>(333)
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="swiper-slide">
                  <a class="card shadow" href="#">
                    <img src="/assets/images/course-8.png" class="card-img-top" alt="course image">
                    <div class="card-body">
                      <h3 class="course-title h6 mb-2">HTML & CSS 網頁設計基礎教程</h3>
                      <div class="d-flex justify-content-between border-bottom border-neutral-200 pb-2">
                        <div class="d-flex align-items-center">
                          <img src="/assets/images/avatar-2.png" alt="avatar" class="me-2">
                          <h4 class="fs-7 fw-normal text-neutral-400">Kelly Hsu</h4>
                        </div>
                        <div>
                          <p class="text-primary fw-bold">NT$ 2,480</p>
                          <small class="text-neutral-300 text-decoration-line-through text-end">NT$ 3,200</small>
                        </div>
                      </div>
                      <div class="pt-4">
                        <span class="badge rounded-pill text-bg-neutral-200 mb-3">程式開發</span>
                        <div class="d-flex justify-content-between">
                          <small>已有 420 位同學加入</small>
                          <p class="fw-medium d-flex align-items-center text-neutral-300">
                            <i class="bi bi-star-fill text-warning me-1"></i>
                            <span class="text-black me-1">4.0</span>(333)
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="swiper-slide">
                  <a class="card shadow" href="#">
                    <img src="/assets/images/course-6.png" class="card-img-top" alt="course image">
                    <div class="card-body">
                      <h3 class="course-title h6 mb-2">全面掌握 JavaScript 開發技術</h3>
                      <div class="d-flex justify-content-between border-bottom border-neutral-200 pb-2">
                        <div class="d-flex align-items-center">
                          <img src="/assets/images/avatar-2.png" alt="avatar" class="me-2">
                          <h4 class="fs-7 fw-normal text-neutral-400">Kelly Hsu</h4>
                        </div>
                        <div>
                          <p class="text-primary fw-bold">NT$ 2,480</p>
                          <small class="text-neutral-300 text-decoration-line-through text-end">NT$ 3,200</small>
                        </div>
                      </div>
                      <div class="pt-4">
                        <span class="badge rounded-pill text-bg-neutral-200 mb-3">程式開發</span>
                        <div class="d-flex justify-content-between">
                          <small>已有 420 位同學加入</small>
                          <p class="fw-medium d-flex align-items-center text-neutral-300">
                            <i class="bi bi-star-fill text-warning me-1"></i>
                            <span class="text-black me-1">4.0</span>(333)
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="swiper-slide">
                  <a class="card shadow" href="#">
                    <img src="/assets/images/course-5.png" class="card-img-top" alt="course image">
                    <div class="card-body">
                      <h3 class="course-title h6 mb-2">小白也會！從零開始學習 Python 程式設計</h3>
                      <div class="d-flex justify-content-between border-bottom border-neutral-200 pb-2">
                        <div class="d-flex align-items-center">
                          <img src="/assets/images/avatar-2.png" alt="avatar" class="me-2">
                          <h4 class="fs-7 fw-normal text-neutral-400">Kelly Hsu</h4>
                        </div>
                        <div>
                          <p class="text-primary fw-bold">NT$ 2,480</p>
                          <small class="text-neutral-300 text-decoration-line-through text-end">NT$ 3,200</small>
                        </div>
                      </div>
                      <div class="pt-4">
                        <span class="badge rounded-pill text-bg-neutral-200 mb-3">程式開發</span>
                        <div class="d-flex justify-content-between">
                          <small>已有 420 位同學加入</small>
                          <p class="fw-medium d-flex align-items-center text-neutral-300">
                            <i class="bi bi-star-fill text-warning me-1"></i>
                            <span class="text-black me-1">4.0</span>(333)
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="swiper-slide">
                  <a class="card shadow" href="#">
                    <img src="/assets/images/course-4.png" class="card-img-top" alt="course image">
                    <div class="card-body">
                      <h3 class="course-title h6 mb-2">創意寫作工坊：從靈感到出版的全過程</h3>
                      <div class="d-flex justify-content-between border-bottom border-neutral-200 pb-2">
                        <div class="d-flex align-items-center">
                          <img src="/assets/images/avatar-2.png" alt="avatar" class="me-2">
                          <h4 class="fs-7 fw-normal text-neutral-400">Kelly Hsu</h4>
                        </div>
                        <div>
                          <p class="text-primary fw-bold">NT$ 2,480</p>
                          <small class="text-neutral-300 text-decoration-line-through text-end">NT$ 3,200</small>
                        </div>
                      </div>
                      <div class="pt-4">
                        <span class="badge rounded-pill text-bg-neutral-200 mb-3">中文創作</span>
                        <div class="d-flex justify-content-between">
                          <small>已有 420 位同學加入</small>
                          <p class="fw-medium d-flex align-items-center text-neutral-300">
                            <i class="bi bi-star-fill text-warning me-1"></i>
                            <span class="text-black me-1">4.0</span>(333)
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
              <button class="trend-swiper-button-prev swiper-button-prev d-none d-md-flex start-0"></button>
              <button class="trend-swiper-button-next swiper-button-next d-none d-md-flex end-0"></button>
            </div>
          </div>
        </section>

        <section class="category">
          <div class="container py-10 py-xl-20">
            <div class="category-bg bg-primary px-4 py-20">
              <div class="row flex-xl-row-reverse justify-content-xl-between align-items-xl-center">
                <div class="col-12 col-xl-5 mb-10 mb-xl-0">
                  <div class="d-flex flex-column flex-xl-row align-items-xl-start gap-2 mb-2">
                    <img src="/assets/images/deco/polygon-1.png" alt="deco" width="80">
                    <h1 class="text-white">
                      想學什麼嗎？<br />
                      一探究竟。
                    </h1>
                  </div>
                  <img src="/assets/images/deco/line-2.png" alt="deco">
                </div>
                <div class="col-12 col-xl-6">
                  <div class="category-swiper swiper">
                    <ul class="swiper-wrapper p-0">
                      <li class="swiper-slide">
                        <a href="#" class="d-flex align-items-center p-5 bg-white rounded-5">
                          <div class="p-4 me-5 rounded-3" style="background-color: #ff994f;">
                            <img src="/assets/images/icons/megaphoneSimple.png" alt="icon">
                          </div>
                          <div>
                            <p class="fw-bold">網路行銷</p>
                            <p class="text-neutral-300">342 門課程</p>
                          </div>
                        </a>
                      </li>
                      <li class="swiper-slide">
                        <a href="#" class="d-flex align-items-center p-5 bg-white rounded-5">
                          <div class="p-4 me-5 rounded-3" style="background-color: #5e5e5e;">
                            <img src="/assets/images/icons/camera.png" alt="icon">
                          </div>
                          <div>
                            <p class="fw-bold">拍攝剪輯</p>
                            <p class="text-neutral-300">342 門課程</p>
                          </div>
                        </a>
                      </li>
                      <li class="swiper-slide">
                        <a href="#" class="d-flex align-items-center p-5 bg-white rounded-5">
                          <div class="p-4 me-5 rounded-3" style="background-color: #ff9bad;">
                            <img src="/assets/images/icons/chartBarHorizontal.png" alt="icon">
                          </div>
                          <div>
                            <p class="fw-bold">自我成長</p>
                            <p class="text-neutral-300">342 門課程</p>
                          </div>
                        </a>
                      </li>
                      <li class="swiper-slide">
                        <a href="#" class="d-flex align-items-center p-5 bg-white rounded-5">
                          <div class="p-4 me-5 rounded-3" style="background-color: #564ffd;">
                            <img src="/assets/images/icons/penNib.png" alt="icon">
                          </div>
                          <div>
                            <p class="fw-bold">藝術設計</p>
                            <p class="text-neutral-300">342 門課程</p>
                          </div>
                        </a>
                      </li>
                      <li class="swiper-slide">
                        <a href="#" class="d-flex align-items-center p-5 bg-white rounded-5">
                          <div class="p-4 me-5 rounded-3" style="background-color: #54dff2;">
                            <img src="/assets/images/icons/bugDroid.png" alt="icon">
                          </div>
                          <div>
                            <p class="fw-bold">數據分析</p>
                            <p class="text-neutral-300">342 門課程</p>
                          </div>
                        </a>
                      </li>
                      <li class="swiper-slide">
                        <a href="#" class="d-flex align-items-center p-5 bg-white rounded-5">
                          <div class="p-4 me-5 rounded-3" style="background-color: #52e9bc;">
                            <img src="/assets/images/icons/creditCard.png" alt="icon">
                          </div>
                          <div>
                            <p class="fw-bold">投資理財</p>
                            <p class="text-neutral-300">342 門課程</p>
                          </div>
                        </a>
                      </li>
                      <li class="swiper-slide">
                        <a href="#" class="d-flex align-items-center p-5 bg-white rounded-5">
                          <div class="p-4 me-5 rounded-3" style="background-color: #cf93ff;">
                            <img src="/assets/images/icons/headphones.png" alt="icon">
                          </div>
                          <div>
                            <p class="fw-bold">音樂創作</p>
                            <p class="text-neutral-300">342 門課程</p>
                          </div>
                        </a>
                      </li>
                      <li class="swiper-slide">
                        <a href="#" class="d-flex align-items-center p-5 bg-white rounded-5">
                          <div class="p-4 me-5 rounded-3" style="background-color: #0068ff;">
                            <img src="/assets/images/icons/arrow.png" alt="icon">
                          </div>
                          <div>
                            <p class="fw-bold">搜尋更多</p>
                            <p class="text-neutral-300">342 門課程</p>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="lecturer">
          <div class="container py-20 py-xl-30">
            <div class="text-md-center mb-6 mb-xl-10">
              <h2 class="trend-title h1 position-relative d-inline">頂尖講師帶你飛</h2>
              <p class="fs-6 text-neutral-400">超真實學員評價，這些講師你絕對不能錯過！</p>
            </div>
            <div class="lecturer-swiper swiper">
              <ul class="swiper-wrapper p-0">
                <li class="swiper-slide">
                  <div class="card border-0">
                    <img src="/assets/images/teacher-3.png" class="lecturer-photo card-img-top" alt="lecture photo">
                    <div class="card-body bg-white p-6">
                      <h3 class="h6 mb-2">Mr. Robert</h3>
                      <div class="d-flex mb-2">
                        <span class="badge rounded-pill text-bg-neutral-200 me-3">音樂創作</span>
                        <p class="fw-medium d-flex align-items-center text-neutral-300">
                          <i class="bi bi-star-fill text-warning me-1"></i>
                          <span class="text-black me-1">4.0</span>(333)
                        </p>
                      </div>
                      <p class="neutral-400 mb-6">
                        Robert 的線上課程深受學生喜愛。他的教學方法生動有趣，能夠深入淺出地講解複雜的音樂理論，並結合實際演奏技巧，使學生能夠快速進步。
                      </p>
                      <a href="#" class="btn btn-primary d-block p-4 rounded-4 fw-bold">探索 Mr. Robert 的教學課程</a>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="card border-0">
                    <img src="/assets/images/teacher-1.png" class="lecturer-photo card-img-top" alt="lecture photo">
                    <div class="card-body bg-white p-6">
                      <h3 class="h6 mb-2">Kelly Beck</h3>
                      <div class="d-flex mb-2">
                        <span class="badge rounded-pill text-bg-neutral-200 me-3">英文寫作</span>
                        <p class="fw-medium d-flex align-items-center text-neutral-300">
                          <i class="bi bi-star-fill text-warning me-1"></i>
                          <span class="text-black me-1">4.0</span>(333)
                        </p>
                      </div>
                      <p class="neutral-400 mb-6">
                        Kelly 的教學方式靈活且富有創意，能有效提升學生的寫作技巧和自信。Kelly 注重實用性，依學生需求量身打造教學內容，提供具體的反饋和建議。
                      </p>
                      <a href="#" class="btn btn-primary d-block p-4 rounded-4 fw-bold">探索 Kelly Beck 的教學課程</a>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="card border-0">
                    <img src="/assets/images/teacher-2.png" class="lecturer-photo card-img-top" alt="lecture photo">
                    <div class="card-body bg-white p-6">
                      <h3 class="h6 mb-2">K. Lee</h3>
                      <div class="d-flex mb-2">
                        <span class="badge rounded-pill text-bg-neutral-200 me-3">音樂創作</span>
                        <p class="fw-medium d-flex align-items-center text-neutral-300">
                          <i class="bi bi-star-fill text-warning me-1"></i>
                          <span class="text-black me-1">4.0</span>(333)
                        </p>
                      </div>
                      <p class="neutral-400 mb-6">
                        K. Lee 的教學風格親切且耐心，能夠循序漸進地引導學生進入樂團的世界。學生們紛紛表示，K. Lee 的課程讓他們對音樂產生了濃厚的興趣！
                      </p>
                      <a href="#" class="btn btn-primary d-block p-4 rounded-4 fw-bold">探索 K. Lee 的教學課程</a>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="lecturer-swiper-pagination swiper-pagination position-static mt-4"></div>
            </div>
          </div>
        </section>
      </main>

      <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
        <script type="module">
          import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'

          const bannerSwiper = new Swiper('.banner-swiper', {
            spaceBetween: 24,
            loop: true,
            pagination: {
              el: '.banner-swiper-pagination',
              clickable: true,
            },
            navigation: {
              nextEl: '.banner-swiper-button-next',
              prevEl: '.banner-swiper-button-prev',
            },
          })

          const fundraisingSwiper = new Swiper('.fundraising-swiper', {
            spaceBetween: 24,
            pagination: {
              el: '.fundraising-swiper-pagination',
              clickable: true,
            },
            breakpoints: {
              768: {
                slidesPerView: 2,
                slidesPerGroup: 2,
                spaceBetween: 24,
              },
              1200: {
                slidesPerView: 2,
                spaceBetween: 24,
                grid: {
                  rows: 2,
                  fill: 'row',
                },
              }
            }
          })

          const trendSwiper = new Swiper('.trend-swiper', {
            spaceBetween: 24,
            navigation: {
              nextEl: '.trend-swiper-button-next',
              prevEl: '.trend-swiper-button-prev',
            },
            breakpoints: {
              768: {
                slidesPerView: 2,
                slidesPerGroup: 2,
                spaceBetween: 30,
              },
              1200: {
                slidesPerView: 4,
                slidesPerGroup: 4,
                spaceBetween: 30,
              }
            },
            autoplay: {
              delay: 3000,
              disableOnInteraction: false,
            },
          })

          const categorySwiper = new Swiper('.category-swiper', {
            spaceBetween: 24,
            slidesPerView: 1,
            grid: {
              rows: 2,
              fill: 'row'
            },
            breakpoints: {
              768: {
                slidesPerView: 2,
                slidesPerGroup: 2,
                grid: {
                  rows: 2,
                  fill: 'row',
                },
              },
              1200: {
                slidesPerView: 2,
                grid: {
                  rows: 4,
                  fill: 'row',
                }
              }
            },
          })

          const lecturerSwiper = new Swiper('.lecturer-swiper', {
            spaceBetween: 24,
            pagination: {
              el: '.lecturer-swiper-pagination',
              clickable: true,
            },
            breakpoints: {
              1200: {
                slidesPerView: 3,
                spaceBetween: 24,
              }
            }
          })
        </script>
  </body>

</html>